@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;}


body {
    min-width: 100vw;
    overflow: hidden;
}
#landing {
    padding: 0 32px;
  
  
nav {
    padding-top: 32px;
    display: flex;
}
.nav__row {
    display: flex;
    justify-content: space-between;
}
. row nav__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.nav__logo {
  display: inline;

.nav__logo--img {
    height: 20px;
    width: 20px;
}
.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}
.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}
.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    list-style: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;

}
a {
    display: inline;
    text-decoration: none;
}
.nav__links--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 1200px;
    color:#fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}
header {
    position: relative;
}
.container {
    padding: 96px 0;
}
.header__row {
 display: flex;
 justify-content: space-between;   
}
.header__description {
    width: 40px;
}

.purple {
    color:#6415ff;
}
.header__description--para {
margin: 32px;
}
.header__email {
    width: 100%;
    max-width: 448px;
    height: 70px;
}
@media(max-width:640px) {
    
.nav__logo {
    margin: 8px 0px;
    padding-bottom: 4px;
}