@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing:border-box; 
    font-family: 'Inter', system-ui;

}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
}

.purple {
    color: #7342d6;
}
.logo {
   width: 160px; 
}
ul{
    display: flex;
}
li {
    list-style-type: none;
}

.nav__links {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color:#7342d6;
    font-weight: bold;
    padding: 8px;
}
.nav__link:hover {
    text-decoration: underline;

}
.nav__link--primary {
    border: 2px solid #734273;
    border-radius: 4px;
}
.nav__link--primary:hover {
    text-decoration: none;
}
.img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}
.header__container {
    padding: 24px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

























@media (max-width: 1024px) {

.nav__links {
    display: none;
}



}