@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
.purple{
color: purple;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: x-large;
  
}

h3 {
  font-size: x-large;
  font-weight: bold;
}
p {
  text-align: center;
  
}

ul {
  display: flex;

}
  li {
    list-style-type: none;
  }

button {
  cursor: pointer;
}
button:active {
  transform: translateY(3px);
}

.btn {
background-color: #6415ff;
color: white;
border: none;
padding: 8px 16px;
font-size: 24px;
 }

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}





 .landing__flex--container {

   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 1280px;
 
}


/*

NAV


*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__row {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;


}
.nav__logo {
  width: 40%;
  height: 40%;
  align-items: center;

}
.nav__link--anchor__primary:active {
  color: #8c09e6;
}
.nav__link--anchor {
margin-left: 16px;
text-decoration: none;
font-size: 12px;
font-weight: bold;
padding: 2px;
cursor: pointer;

}

.nav__link--anchor__primary {
  border: 2px solid #7f7b86;
  border-radius: 6px;
  background-color: #6f36df;
color:white;
}
.nav__link--anchor__hover {
  text-decoration: underline;
  cursor: pointer;
}
.btn__menu {
font-size: 40px;
text-align: center;
  background: transparent;
  border: none;
 display: none;
 color: #7342d6;;
}
menu__backdrop {
  position: absolute;
  background-color:#050407;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
 display: flex;
justify-content: center;
align-items: center;
transition: all 300ms ease;
visibility: hidden;
opacity: 0;

}
.menu--open .menu__backdrop {
visibility: visible;
opacity: 1;
}
.menu__open {
  max-height: 100vh;
  overflow-y: hidden;
}
.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__list {
  padding: 32px 0;
}
.menu__link {
  font-size: 40px;
  color: white;
}
.btn__menu--close {
  position: absolute;
  right: 20px;
  top:10px;
  padding: 8px;
  color: white;
}



/*

header

*/

#header {

  align-items: center;
  padding: 4px;
 flex-direction: column;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.header_row {
  width: 100%;
  height: 100%;
  display: contents;
  justify-content: space-between;
  align-items: center;
}

.header__description {
  font-weight: bolder;
  padding: 8px;
  display: contents;
  font-size: larger;
  }

.header__design--img {
  display: flex;
  align-items: end;
  justify-content: end;
  right: 16px;
  position: absolute;
  width: 60%;
}
.header__customers--logo__img {
  width: 40%;
}


/*

FEATURES

*/

#features {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}
.features__intro {
  font-size: x-large;
}
.features__container {
width: 100%;
height: 100%;
max-width: 1280px;
}
.features__row {
flex-wrap: wrap;
display: flex;
padding: 40px 8px;
margin: auto;
}

.features__service--secure--title, 
.features__service--support--title, 
.features__service--customizable--title, 
.features__service--reliable--title, 
.features__service--fast--title, 
.features__service--easy--title {
  font-size: xx-large;
  font-weight: bold;

}

.features__title {
display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.features__service--img {

}
 .features__service--secure, 
 .features__service--support, 
 .features__service--customizable,
 .features__service--reliable,
 .features__service--fast,
 .features__service--easy {
  font-size: medium;
 }
/* 


quality__work


*/
#quality__work {


}

.quality__work--img {

}

.quality__work--row {

}


/* 


STEPS


*/


#steps {

}

.steps__container {

}
.steps__row {

}
.steps__img--wrapper {

}

.steps__container--title {

}
.steps__list {

}

.step {

}

.step__number {

}



/* 

value

*/



#value {

}

.value__img--wrapper {

}
.value__card--icon {

}

.value__card {

}


/* 

pricing

*/

#pricing {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}  
.pricing__container {

}

.pricing__description {

}
.pricing__card--personal {

}
.pricing__card--business {

}

.pricing__card--enterprise {



}
.pricing__card--button {
  width: 20px;
}
.pricing__card--personal,
.pricing__card--business,
.pricing__card--enterprise {
display: flex;
justify-content: space-between;
flex-direction: column;
}

.pricing__card--personal--title,
.pricing__card--business--title,
.pricing__card--enterprise--title {
  font-weight: bold;
  font-size: larger;
  margin: 0 auto;

}

.pricing__card--personal--price,
.pricing__card--business--price,
.pricing__card--enterprise--price 
 {

}
.pricing__card--personal--description, 
.pricing__card--business--description, 
.pricing__card--enterprise--description {

}



.pricing__card--personal--features {

}
.pricing__card--business--features {
  
}
.pricing__card--enterprise--features {
  
}
.pricing__card--personal--features,
.pricing__card--business--features,
.pricing__card--enterprise--features {
  list-style: none;

}

/*testomials*/
#testimonials {

}

.testimonials__row {

}
.testimonials__img {

}
.testimonials__ratings {

}
.customers__rating {

}
.testimonials__customers--reviews {

}

.testimonials__customers--img {

}

.testimonials__customers--name {

}



/*

signup
 

*/

#sign-up {

}
.siign-up__container {

}

/*  

footer

*/

#footer {

}
.footer__ciontainer {

}
.footer__list {

}
.footer__main--lists {

}
.footer__main--list {

}
.footer__product--lists {

}

.footer__product--list{


}
.footer__team--lists{

}
.footer__team--list{

}

.footer__legal--lists {

}

.footer__legal--list {

}

.footer__logo {

}

.footer__logo--name {

}

.copywrite {

}
 @media (max-width: 550px) {
 .nav__links{
  display: none;
 }
  .btn__menu {
    display: block;
  
 }
}