@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')



* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Roboto;

}

.nav__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
height: 70px;
display: flex;
justify-content: space-between;


}
.logo_img--wrapper {
    width: 40%;
 
}
.logo__img {
    width: 65%;
    top: 6px;
    position: initial;
    right:auto;
    bottom: auto;
    left: auto;
}
.logo__title {
    position: absolute;
    right: auto;
    left: 20%;
    bottom: 85%;
    }

.nav__menu--links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    }
    


h1 {
    font-size: 32px;
    font-weight: 700;
}


















 /* .btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

*/