@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
.purple{
color: purple;
}

h1 {
  font-size: 24px;
}

p {
  text-align: center;
  justify-content: center;
}
  li {
    list-style-type: none;
  }

 buttons {

 }







 .landing__flex--container {

   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 1280px;
 
}


/*

NAV


*/
.nav__row {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.nav__logo {
  width: 45%;
  height: 45%;
  
}


.nav__link--anchor {
 position: relative;
text-decoration: none;
font-weight: 600;
 color: black;
}





/*
.nav__link--anchor::after {
content:"";
position: absolute;
left: 0;
bottom: -5px;
width: 0%;
height: 2px;
transition: width 0.3s ease;
}
*/

.header__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.header__design--img {
   
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  height: auto;
}


/*

BTN

MENU

*/
.btn__menu {

}

.modal__links {

}

.modal__link {

}

.modal__link--primary {


}



/*

header

*/

#header {

  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.header__container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.header_row {
  width: 100%;
  height: 100%;
  display: contents;
  justify-content: space-between;
  align-items: center;
}

.header__description {
  font-weight: bolder;
  padding: 8px;
  display: contents;
  }
}
.headed__input {

}

.header__customers--logo__img {
  width: 40%;
}

.header__design--img {
  width: 300px;
  justify-content: space-between;
  height: auto;
}



/*

FEATURES

*/

#features {

}

.features__container {

}

.features__row {

}

.features__title {

}

.features_services {


}

.features__service--img {

}
 .features__service-title {

 }

/* 


quality__work


*/
#quality__work {


}

.quality__work--img {

}

.quality__work--row {

}


/* 


STEPS


*/


#steps {

}

.steps__container {

}
.steps__row {

}
.steps__img--wrapper {

}

.steps__container--title {

}
.steps__list {

}

.step {

}

.step__number {

}



/* 

value

*/



#value {

}

.value__img--wrapper {

}
.value__card--icon {

}

.value__card {

}


/* 

pricing

*/

#pricing {

}

.pricing__description {

}
  
.pricing__card--container {

}

.pricing__card--title {

}
.pricing__card--price {

}
.pricing__card--description {

}


/*

testimonials

*/

#testimonials {

}

.testimonials__row {

}
.testimonials__img {

}
.testimonials__ratings {

}
.customers__rating {

}
.testimonials__customers--reviews {

}

.testimonials__customers--img {

}

.testimonials__customers--name {

}



/*

signup
 

*/

#sign-up {

}
.siign-up__container {

}

/*  

footer

*/

#footer {

}
.footer__ciontainer {

}
.footer__list {

}
.footer__main--lists {

}
.footer__main--list {

}
.footer__product--lists {

}

.footer__product--list{


}
.footer__team--lists{

}
.footer__team--list{

}

.footer__legal--lists {

}

.footer__legal--list {

}

.footer__logo {

}

.footer__logo--name {

}

.copywrite {

}
/*
.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}
*/
