@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing:border-box; 
    font-family: 'Inter', system-ui;

}

.landing {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.landing__row {
    justify-content: space-between;
    align-items: center;
    justify-content: left;
}
.landing__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
}

.purple {
    color: #7342d6;
}

.landing__menu--links {
    justify-content: space-between;
    display: flex;
    top: 5px;
    position: fixed;
    right: 10px;
    font-size: xx-large;
  }
.landing__menu--link:hover {
    text-decoration: underline;

}
.landing__menu--link__primary {
    border: 2px solid #734273;
    border-radius: 4px;
}
.landing__menu--link__primary:hover {
    text-decoration: none;
}


.landing__logo--img {
    width: 160px;
    top: 5px;
    left: 5px;
    justify-content: space-between;
    display: contents;
    align-items: center;
    }

.landing__logo--title {
    font-size: x-large;
    display: contents;
    text-align: inherit;
    flex-direction: row;
    align-content: initial;
    flex-wrap: wrap;
    top: 2px;

}
a.landing__menu--link:nth-child(1) {
    justify-content: space-around;
  }
  
ul{
    display: flex;
}
li {
    list-style-type: none;
}


.img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}
.header__container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: larger;
    }
    .header__description {
        width: 50%;
        }
#header {
    align-content: center;
    width: 100%;
    height: 100%;
    justify-content: space-between
}


.header__img {
    width: 100%;
    justify-content: space-between;
    display: contents;
    align-items: flex-end;
    }















@media (max-width: 1024px) {

.landing__links {
    display: none;
}



}

@media (max-width: 780px) {
}